<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cattle Detector</title>
</head>
<body style="background:#121212;margin:0;padding:0;color:white">
    <nav style="margin:0;padding:0;height=100px;text-align:center"> <h1>Cattle Detector</h1> </nav>  

    <img style="display: block;margin-left: auto;margin-right: auto;" src="{{ url_for('video_feed') }}" alt="Camera Stream" style="width = 75vw">

    <footer style="background-color: black;padding: 10px;text-align: center;position: fixed;bottom: 0;width: 100%;">
        <p>Copyright © 2024 Md. Abdullah Al Fuad</p>
        <a href="https://github.com/Fuad-X" target="_blank">Github</a>
    </footer>
</body>
</html>

